      <F3:include href="_layout/header.html"/>
      <F3:include href="_layout/sidebar.html"/>
      <div id="main">
        <p>
          Method: <em>another</em>, controller: <em>main</em>
        </p>
        <p>
          View file location: <em>app/views/main/another.html</em>
        </p>
        <p>
          <a href="{{@BASE}}/">A link</a> to home.
        </p>
      <F3:include href="_layout/footer.html"/>
