      <F3:include href="_layout/header.html"/>
      <F3:include href="_layout/sidebar.html"/>
      <div id="main">
        <h3>Hello World!</h3>
        <p>
          Method: <em>index</em>, controller: <em>main</em>
        </p>
        <p>
          View file location: <em>app/views/main/index.html</em>
        </p>
        <p>
          <a href="{{@BASE}}/main/another">A link</a> to another view from same controller.
        </p>
        <p>
          <h4>Sample DB data</h4>
          <ul>
            <F3:repeat group="{{@data}}" value="{{@row}}">
              <li>{{@row[field1]}}</li>
            </F3:repeat>
          </ul>
        </p>
      </div>
      <F3:include href="_layout/footer.html"/>
