body {
  font-family: sans-serif, Helvetica, Arial;
  background: #222;
  color: #eee;
}

a {
  color: #adf;
}

  a:hover {
    text-decoration: none;  
  }

#footer {
  font-size: 80%;
  margin: 40px;
}

  #footer cite {
    display: block;
    text-align: right;
  }
