<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{@APP_NAME}} -  {{@PageTitle}}</title>
    <link rel="stylesheet" href="{{@BASE}}/assets/css/master.css" type="text/css" media="screen" />
    <link href="{{@BASE}}/assets/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="{{@BASE}}/assets/favicon.ico" type="image/x-icon" rel="shortcut icon" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h3>Based on <a href="http://fatfree.sourceforge.net/">Fat-Free Framework aka F3</a></h3>
        <hr />
      </div>
