      <div id="sidebar">
        Menu
        <ul>
          <li><a href="#option1">Option 1</a></li>
          <li><a href="#option2">Option 2</a></li>
          <li><a href="#option3">Option 3</a></li>
          <li><a href="#option4">Option 4</a></li>
          <li><a href="#option5">Option 5</a></li>
        </ul>
      </div>
